HighStreetBank/src/META-INF/wsdl/localhost_8080/WS_HighSteetBank/BankEmployee_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_employee/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_employee/" name="BankEmployee_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_employee/" schemaLocation="http://localhost:8080/WS_HighSteetBank/BankEmployee_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="connectionDB">
<part name="parameters" element="tns:connectionDB"/>
</message>
<message name="connectionDBResponse">
<part name="parameters" element="tns:connectionDBResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="EditEmployee">
<part name="parameters" element="tns:EditEmployee"/>
</message>
<message name="EditEmployeeResponse">
<part name="parameters" element="tns:EditEmployeeResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="AddEmployee">
<part name="parameters" element="tns:AddEmployee"/>
</message>
<message name="AddEmployeeResponse">
<part name="parameters" element="tns:AddEmployeeResponse"/>
</message>
<portType name="BankEmployee_WS">
<operation name="hello">
<input wsam:Action="http://ws_employee/BankEmployee_WS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws_employee/BankEmployee_WS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="connectionDB">
<input wsam:Action="http://ws_employee/BankEmployee_WS/connectionDBRequest" message="tns:connectionDB"/>
<output wsam:Action="http://ws_employee/BankEmployee_WS/connectionDBResponse" message="tns:connectionDBResponse"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://ws_employee/BankEmployee_WS/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://ws_employee/BankEmployee_WS/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
</operation>
<operation name="EditEmployee">
<input wsam:Action="http://ws_employee/BankEmployee_WS/EditEmployeeRequest" message="tns:EditEmployee"/>
<output wsam:Action="http://ws_employee/BankEmployee_WS/EditEmployeeResponse" message="tns:EditEmployeeResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws_employee/BankEmployee_WS/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws_employee/BankEmployee_WS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="AddEmployee">
<input wsam:Action="http://ws_employee/BankEmployee_WS/AddEmployeeRequest" message="tns:AddEmployee"/>
<output wsam:Action="http://ws_employee/BankEmployee_WS/AddEmployeeResponse" message="tns:AddEmployeeResponse"/>
</operation>
</portType>
<binding name="BankEmployee_WSPortBinding" type="tns:BankEmployee_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="connectionDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankEmployee_WS">
<port name="BankEmployee_WSPort" binding="tns:BankEmployee_WSPortBinding">
<soap:address location="http://localhost:8080/WS_HighSteetBank/BankEmployee_WS"/>
</port>
</service>
</definitions>