HighStreetBank/src/META-INF/wsdl/localhost_8080/WS_HighSteetBank/BanKCustomer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_customer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_customer/" name="BanKCustomer">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_customer/" schemaLocation="http://localhost:8080/WS_HighSteetBank/BanKCustomer?xsd=1"/>
</xsd:schema>
</types>
<message name="EditCustomer">
<part name="parameters" element="tns:EditCustomer"/>
</message>
<message name="EditCustomerResponse">
<part name="parameters" element="tns:EditCustomerResponse"/>
</message>
<message name="Retrive_Customer">
<part name="parameters" element="tns:Retrive_Customer"/>
</message>
<message name="Retrive_CustomerResponse">
<part name="parameters" element="tns:Retrive_CustomerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Addcustomer">
<part name="parameters" element="tns:Addcustomer"/>
</message>
<message name="AddcustomerResponse">
<part name="parameters" element="tns:AddcustomerResponse"/>
</message>
<message name="connectionDB">
<part name="parameters" element="tns:connectionDB"/>
</message>
<message name="connectionDBResponse">
<part name="parameters" element="tns:connectionDBResponse"/>
</message>
<portType name="BanKCustomer">
<operation name="EditCustomer">
<input wsam:Action="http://ws_customer/BanKCustomer/EditCustomerRequest" message="tns:EditCustomer"/>
<output wsam:Action="http://ws_customer/BanKCustomer/EditCustomerResponse" message="tns:EditCustomerResponse"/>
</operation>
<operation name="Retrive_Customer">
<input wsam:Action="http://ws_customer/BanKCustomer/Retrive_CustomerRequest" message="tns:Retrive_Customer"/>
<output wsam:Action="http://ws_customer/BanKCustomer/Retrive_CustomerResponse" message="tns:Retrive_CustomerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws_customer/BanKCustomer/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws_customer/BanKCustomer/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Addcustomer">
<input wsam:Action="http://ws_customer/BanKCustomer/AddcustomerRequest" message="tns:Addcustomer"/>
<output wsam:Action="http://ws_customer/BanKCustomer/AddcustomerResponse" message="tns:AddcustomerResponse"/>
</operation>
<operation name="connectionDB">
<input wsam:Action="http://ws_customer/BanKCustomer/connectionDBRequest" message="tns:connectionDB"/>
<output wsam:Action="http://ws_customer/BanKCustomer/connectionDBResponse" message="tns:connectionDBResponse"/>
</operation>
</portType>
<binding name="BanKCustomerPortBinding" type="tns:BanKCustomer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="EditCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Retrive_Customer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Addcustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="connectionDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanKCustomer">
<port name="BanKCustomerPort" binding="tns:BanKCustomerPortBinding">
<soap:address location="http://localhost:8080/WS_HighSteetBank/BanKCustomer"/>
</port>
</service>
</definitions>